doctype html
html 
    include head.pug
    body 
        include navbar.pug
        div(class='container-lg text-center mt-3')
            h5 Blocks
            div.row(class='justify-content-center mt-2')
                p= `Thanks for having fun! I have removed the blocks search to focus on interactions.`

        //- form(id="form" action="/blocks" method="get")
        //-     input(id="handle" type="text" name="handle" value='' placeholder="User")
        //-     input(id="button" type="submit" value="Search")
            
        //- if !userFound
        //-     p= textVal

        //- if userFound
        //-     if blocks.length > 0
        //-         table(class="table table-striped table-hover table-sm caption-top")
        //-             caption= `@${handle} is blocked by`
        //-             thead
        //-                 tr(style='text-align: center')
        //-                     th(width='20px') #
        //-                     th User 
        //-                     th Display name
        //-                     th Date
        //-             tbody
        //-                 each val, idx in blocks
        //-                     tr(style='text-align: center')
        //-                         td= idx+1
        //-                         td: a(href='https://bsky.app/profile/'+val.did) #{(val.handle.length > 0) ? `@${val.handle}` : val.did}
        //-                         td= val.displayName
        //-                         td(style='text-align:center')= val.indexedAt
        //-     else
        //-         p No blocks found! 
