doctype html
html(lang='en')
    ul
        li: a(href='/topblocks') Top Blocks
        li: a(href='/topfollows') Top Follows
        li: a(href='/interactions') Interactions 
        li: a(href='/blocks') Blocks
