extends layout.pug

block append head
  script(src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8")

block content
  div(class='container text-center mt-3')
    h5 Data in this database (the past is incomplete)
    div(id='profiles')
    div(id='posts')
    div(id='likes')
    div(id='follows')
    script. 
      var profiles_data = !{JSON.stringify(profiles.data)}
      var posts_data = !{JSON.stringify(posts.data)}
      var likes_data = !{JSON.stringify(likes.data)}
      var follows_data = !{JSON.stringify(follows.data)}
      const profiles_cumsum = (sum => value => sum += value)(0);
      var profiles = {
        name: 'new',
        x: profiles_data.map(x => x.date),
        y: profiles_data.map(x => x.count),
        type: 'bar',
        orientation: 'v',
        offset: -3600000,
      };
      var profiles_curve = {
        name: 'total',
        x: profiles_data.map(x => x.date).reverse(),
        y: profiles_data.map(x => x.count).reverse().map(profiles_cumsum),
        type: 'scatter',
        yaxis: 'y2',
      }
      const posts_cumsum = (sum => value => sum += value)(0);
      var posts = {
        name: 'new',
        x: posts_data.map(x => x.date),
        y: posts_data.map(x => x.count),
        type: 'bar',
        orientation: 'v',
        offset: -3600000,
      };
      var posts_curve = {
        name: 'total',
        x: posts_data.map(x => x.date).reverse(),
        y: posts_data.map(x => x.count).reverse().map(posts_cumsum),
        type: 'scatter',
        yaxis: 'y2',
      }
      const likes_cumsum = (sum => value => sum += value)(0);
      var likes = {
        name: 'new',
        x: likes_data.map(x => x.date),
        y: likes_data.map(x => x.count),
        type: 'bar',
        orientation: 'v',
        offset: -3600000,
      };
      var likes_curve = {
        name: 'total',
        x: likes_data.map(x => x.date).reverse(),
        y: likes_data.map(x => x.count).reverse().map(likes_cumsum),
        type: 'scatter',
        yaxis: 'y2',
      }
      const follows_cumsum = (sum => value => sum += value)(0);
      var follows = {
        name: 'new',
        x: follows_data.map(x => x.date),
        y: follows_data.map(x => x.count),
        type: 'bar',
        orientation: 'v',
        offset: -3600000,
      };
      var follows_curve = {
        name: 'total',
        x: follows_data.map(x => x.date).reverse(),
        y: follows_data.map(x => x.count).reverse().map(follows_cumsum),
        type: 'scatter',
        yaxis: 'y2',
      }
      var max_date = profiles_data.map(x => x.date)[0]
      var min_date = profiles_data.map(x => x.date)[7*24]
      Plotly.newPlot(
        'profiles', 
        [profiles, profiles_curve], 
        { 
          title: 'new profiles', 
          autorange: false, 
          xaxis: {
            type: 'date', 
            range: [min_date, max_date],
            side: 'left',
          },
          yaxis: {
            showgrid: false,
          },
          yaxis2: {
            showgrid: false,
            overlaying: 'y',
            side: 'right',
            zeroline: false,
          }
        }
      );
      Plotly.newPlot(
        'posts', 
        [posts, posts_curve], 
        { 
          title: 'new posts', 
          autorange: false, 
          xaxis: {
            type: 'date', 
            range: [min_date, max_date],
            side: 'left',
          },
          yaxis: {
            showgrid: false,
          },
          yaxis2: {
            showgrid: false,
            overlaying: 'y',
            side: 'right',
            zeroline: false,
          }
        }
      );
      Plotly.newPlot(
        'likes', 
        [likes, likes_curve], 
        { 
          title: 'likes', 
          autorange: false, 
          xaxis: {
            type: 'date', 
            range: [min_date, max_date],
            side: 'left',
          },
          yaxis: {
            showgrid: false,
          },
          yaxis2: {
            showgrid: false,
            overlaying: 'y',
            side: 'right',
            zeroline: false,
          }
        }
      );
      Plotly.newPlot(
        'follows', 
        [follows, follows_curve], 
        { 
          title: 'follows', 
          autorange: false, 
          xaxis: {
            type: 'date', 
            range: [min_date, max_date],
            side: 'left',
          },
          yaxis: {
            showgrid: false,
          },
          yaxis2: {
            showgrid: false,
            overlaying: 'y',
            side: 'right',
            zeroline: false,
          }
        }
      );
