@media (min-width: 1200px) {
  .container {
    max-width: 850px;
  }
}

a {
  text-decoration: none;
}

/* general styling */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  line-height: 1.1;
}
